:root {
  --Dark-primary: #3b3b5c;
  --Dark-secundary: #222336;
  --Dark-latest: #19083e;
  --gradient: #13042d;
  --Cancel: #564f61;
  --Alt-cancel: #4c4c5a;
  --Select-in: #1a286a;
  --Pigment: #1a286a;
  --Select-out: #4868c5;
  --Alt-Select-out: #5f45a6;
  --Last-Select-out: #6862e1;
  --Main-color: #573f89;
  --Side-color: #5d3fa2;
  --May-color: #6b519b;
  --Hover-May: #572978;
  --Hover-Side: #3d2176;
  --Hover-Main: #472583;
}
